<div class="container">
  <div class="table-container">
    <!-- HTML table for displaying data -->
    <table class="hacker-theme">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Habitat</th>
          <th>Predators</th>
          <th>Diet</th>
          <th>Lifespan</th>
          <th>Toxicity</th>
          <th>Funfacts</th>
        </tr>
      </thead>
      <tbody id="result">
        <!-- Data will be populated here -->
      </tbody>
    </table>
  </div>
</div>

  
<script>
  const apiUrl = "https://projectsailbackend.stu.nighthawkcodingsociety.com/api/frog-items/";
var frogname={{data.name}}
console.log(frogname)
  fetch(apiUrl)
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
          }
      return response.json();
    })
    .then(data => {
      const resultContainer = document.getElementById("result");

      data.forEach(Frog => {
        console.log(Frog.name)
        console.log({{name}})
        if (Frog.name =={{name}}){
        const row = document.createElement("tr");
        row.innerHTML = `
          <td>${Frog.name}</td>
          <td>${Frog.size}</td>
          <td>${Frog.habitat}</td>
          <td>${Frog.predators}</td>
          <td>${Frog.diet}</td>
          <td>${Frog.lifespan}</td>
          <td>${Frog.toxicity}</td>
          <td>${Frog.fun_facts}</td>
        `;
        resultContainer.appendChild(row);}
      });
    })
    .catch(error => {
      console.error('Error fetching data:', error);
    });
</script>
